#This file identifies people who are automatically notified when Pull Requests are made for /sof-docs. 
#At this time, the following people are notified and are expected to review the PRs:
#Liam Girdwood (technical review), Anton Bobkov (technical/grammatical/style review), and Deb Taylor (grammatical/style review).

* @lgirdwood @anton-intel @deb-intel @intelkevinputnam @greg-intel
