# Do not use this file for any intensive/"serious" documentation work.

# The purpose of this "laxer" file is to lower the barrier for drive-by
# contributors and make it easier for anyone to verify a typo fix
# locally.

# On Debian/Ubuntu/etc., don't forget PIP_IGNORE_INSTALLED=0 (double
# negation):
#  PIP_IGNORE_INSTALLED=0 pip3 install --user -r scripts/requirements-lax.txt
# See https://github.com/pypa/pip/issues/4222

breathe>=4.29.2
sphinx>=4.5.0
docutils>=0.17.1
sphinx_rtd_theme>=0.2.4
sphinxcontrib-blockdiag>=3.0.0

# - Version 0.11 is the first version that supports
#   `plantuml_output_format=none` which is required for instant builds.
#   https://pypi.org/project/sphinxcontrib-plantuml/0.11/
#
# - Note 0.9 is the minimum to fix this fatal import failure:
#
#   sphinx.util.compat.Directive class is now deprecated. Please
#      use instead docutils.parsers.rst.Directive
#
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=896485#12
sphinxcontrib.plantuml>=0.11

# Differences between these "lax" version requirements and the official
# ones in requirements.txt:

## Pros

#  - These use '>=' instead of '==' hardcoding so:
#      - you don't need a virtualenv per project.
#      - you can spend less time downloading and more time fixing the doc.
#  - The build was successful the last time someone updated this file.
#  - These versions produce something usable and mostly complete.

## Cons

#  - They're not official and not regulary tested; they are "best effort",
#    community-maintained.
#  - They may produce warnings (but nothing that stops the build).
#  - Output may be ugly and/or incomplete.
#  - Upgrading only some of them outside this file may result in sphinx
#    modules that are incompatible with each other.

## Maintenance

#  - Bump up only when really needed. Prefer (reasonable) backward
#    compatibility if possible,
#  - When bumping up, upgrade to the lowest possible version required.
#  - Downgrade if successfully tested.
#  - Test with plantum set to "none" in conf.py. We don't want small
#    typo fixes to depend on UML diagrams.

# Workaround for warning "'ImageDraw' object has no attribute 'textsize'"
# with pillow 10.0.0, see
# https://github.com/thesofproject/sof-docs/issues/472
pillow<10
