# This file hardcodes validated versions with '==',
# see requirements-lax.txt for an alternative.

sphinx>=7
breathe
docutils
sphinx_rtd_theme
sphinxcontrib-plantuml
sphinxcontrib-blockdiag
sphinxcontrib-applehelp


# Workaround for warning "'ImageDraw' object has no attribute 'textsize'"
# with pillow 10.0.0, see
# https://github.com/thesofproject/sof-docs/issues/472
pillow<10
