# This file hardcodes validated versions with '==',
# see requirements-lax.txt for an alternative.
breathe==4.29.2
sphinx==4.5.0
docutils==0.17.1
sphinx_rtd_theme
sphinxcontrib-plantuml
sphinxcontrib-blockdiag


# Workaround for warning "'ImageDraw' object has no attribute 'textsize'"
# with pillow 10.0.0, see
# https://github.com/thesofproject/sof-docs/issues/472
pillow<10
