---
# Tools that can save round-trips to github and a lot of time:
#
# yamllint -f parsable pull_request.yml
# pip3 install ruamel.yaml.cmd
# yaml merge-expand pull_request.yml exp.yml &&
#    diff -w -u pull_request.yml exp.yml
#
# github.com also has a powerful web editor that can be used without
# committing.
name: woke manually checker

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:

jobs:
  woke:
    name: woke check for all file
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@3
      - name: woke
        uses: get-woke/woke-action@v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true
          woke-args: -c ./rules-woke.yaml
